@model webProjeOdev.Models.Poliklinik


<head>
    <style>
        .bg-img {
            background-image: url('/images/yonetici.jpg') !important;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

            .bg-img::before {
                background-color: rgba(0,0,0,0.6);
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }

        .hero-section .container {
            height: 150vh;
            z-index: 1;
            position: relative;
            margin-top: 15%;
        }

        .hero-section h1 {
            font-size: 1.8rem;
            color: white;
        }
    </style>
</head>
<body class="bg-img">
    <section class="hero-section">
        <div class="container">
            <div class="row ">
                <div class="col-4 offset-4" style="text-align:center;">
                    <h1>@_localization.GetKey("addPoli").Value</h1>
                    <hr class="text-white" />
                </div>
            </div>
            <div class="row">
                <div class="col-4 offset-4">
                    <form asp-action="PoliklinikEkle">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group mt-3">
                            <label asp-for="poliklinikAdi" class="control-label" style="color:white;">@_localization.GetKey("poliName").Value</label>
                            <input asp-for="poliklinikAdi" class="form-control" />
                            <span asp-validation-for="poliklinikAdi" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="klinikId" class="control-label" style="color: white;">@_localization.GetKey("clinicName").Value</label>
                            <select id="klinikList" asp-for="klinikId" asp-items="@ViewBag.klinikList" onchange="DoktoruDoldur(this,'doktorList');">
                                <option value="">Seçiniz...</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="doktorId" class="control-label" style="color:white;">@_localization.GetKey("docName").Value</label>
                            <select id="doktorList" asp-for="doktorId" asp-items="@ViewBag.doktorId">
                                <option value="">Seçiniz...</option>
                            </select>
                        </div>
                        <div class="form-group d-grid mt-3">
                            <button type="submit" value="Create" class="btn d-block" style="background-color:#B96028; color:white">@_localization.GetKey("save").Value</button>
                        </div>
                    </form>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-4 ">
                </div>
                <div class="col-4 ">
                    <a type="button" asp-area="" asp-controller="Navigation" asp-action="PoliklinikNavigation" class="btn mx-auto d-grid gap-2" style="background-color:#A3AB78; color:white">@_localization.GetKey("back").Value</a>
                </div>
                <div class="col-4">
                </div>
            </div>
        </div>
    </section>
</body>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
