<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - webProjeOdev</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/webProjeOdev.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container">
                <a class="navbar-brand me-auto" asp-area="" asp-controller="Home" asp-action="Index">Logo</a>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Logo</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link mx-lg-2 active" aria-current="page" asp-area="" asp-controller="Home" asp-action="Index">@_localization.GetKey("home").Value</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mx-lg-2" asp-area="" asp-controller="Giris" asp-action="KayitOl">@_localization.GetKey("appointment").Value</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mx-lg-2" asp-action="ChangeLanguage" asp-controller="Home" asp-route-culture="tr-TR">Türkçe</a>
                            </li>
                            <li class="nav-item">
                                 <a class="nav-link mx-lg-2" asp-action="ChangeLanguage" asp-controller="Home" asp-route-culture="en-US">English</a>
                            </li>
                        </ul>
                    </div>
                </div>
                @if(!User.Identity.IsAuthenticated)
                {
                    <a class="btn login-button" asp-area="" asp-controller="Giris" asp-action="AdminLogin">@_localization.GetKey("adminlogin").Value</a>
                }
                else{
                    <a class="btn login-button" asp-area="" asp-controller="Giris" asp-action="AdminLogout">@_localization.GetKey("adminlogout").Value</a>
                }
                <button class="navbar-toggler pe-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
