@model webProjeOdev.Models.Hasta
<head>
    <style>
        .bg-img {
            background-image: url('/images/yonetici.jpg') !important;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .bg-img::before {
            background-color: rgba(0,0,0,0.6);
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        .hero-section .container {
            height: 150vh;
            z-index: 1;
            position: relative;
            margin-top: 15%;
        }

        .hero-section h1 {
            font-size: 1.8rem;
            color: white;
        }
    </style>
</head>
<body class="bg-img">
    <section class="hero-section">
        <div class="container">
             <div class="row ">
                <div class="col-4 offset-4" style="text-align:center;">
                    <h1>Kayıt Ol</h1>
                    <hr class="text-white" />
                </div>
             </div>
            <div class="row">
                <div class="col-4 offset-4">
                    <form asp-action="KayitOl">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group mt-3">
                            <label asp-for="hastaTC" class="control-label" style="color:white">@_localization.GetKey("identity").Value</label>
                            <input asp-for="hastaTC" class="form-control" />
                            <span asp-validation-for="hastaTC" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-3">
                            <label asp-for="hastaAdi" class="control-label" style="color:white">@_localization.GetKey("name").Value</label>
                            <input asp-for="hastaAdi" class="form-control" />
                            <span asp-validation-for="hastaAdi" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-3">
                            <label asp-for="hastaSoyadi" class="control-label" style="color:white">@_localization.GetKey("surname").Value</label>
                            <input asp-for="hastaSoyadi" class="form-control" />
                            <span asp-validation-for="hastaSoyadi" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-3">
                            <label asp-for="dogumTarihi" class="control-label" style="color:white">@_localization.GetKey("birth").Value</label>
                            <input asp-for="dogumTarihi" class="form-control" />
                            <span asp-validation-for="dogumTarihi" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-3">
                            <label asp-for="cinsiyet" class="control-label" style="color:white">@_localization.GetKey("gender").Value</label>
                            <select asp-for="cinsiyet" class="form-control" asp-items="Html.GetEnumSelectList<Hasta.Cinsiyet>()"></select>
                            <span asp-validation-for="cinsiyet" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-3">
                            <label asp-for="medeniHal" class="control-label" style="color:white">@_localization.GetKey("state").Value</label>
                            <select asp-for="medeniHal" class="form-control" asp-items="Html.GetEnumSelectList<Hasta.MedeniHal>()"></select>
                            <span asp-validation-for="medeniHal" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-3">
                            <label asp-for="hastaSifre" class="control-label" style="color:white">@_localization.GetKey("password").Value</label>
                            <input asp-for="hastaSifre" class="form-control" />
                            <span asp-validation-for="hastaSifre" class="text-danger"></span>
                        </div>

                        <div class="form-group mt-3">
                            <label asp-for="telefonNumarasi" class="control-label" style="color:white">@_localization.GetKey("phone").Value</label>
                            <input asp-for="telefonNumarasi" class="form-control" />
                            <span asp-validation-for="telefonNumarasi" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-3">
                            <label asp-for="email" class="control-label"style="color:white">@_localization.GetKey("mail").Value</label>
                            <input asp-for="email" class="form-control" />
                            <span asp-validation-for="email" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-3">
                            <label asp-for="Iller" class="control-label" style="color:white">@_localization.GetKey("city").Value</label>
                            <select asp-for="Iller" class="form-control" asp-items="Html.GetEnumSelectList<Hasta.Il>()"></select>
                            <span asp-validation-for="Iller" class="text-danger"></span>
                        </div>
                        <div class="form-group d-grid mt-3">
                            <button type="submit" value="Create" class="btn d-block" style="background-color:#B96028; color:white">@_localization.GetKey("save").Value</button>
                        </div>
                    </form>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-4 ">
                </div>
                <div class="col-4 ">
                    <a type="button" asp-area="" asp-controller="Giris" asp-action="HastaGiris" class="btn mx-auto d-grid gap-2" style="background-color:#A3AB78; color:white">@_localization.GetKey("login").Value</a>
                </div>
                <div class="col-4">
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-4">
                </div>
                <div class="col-4">
                    <a type="button" asp-area="" asp-controller="Home" asp-action="Index" class="btn mx-auto d-grid gap-2" style="background-color:#A3AB78; color:white">@_localization.GetKey("back").Value</a>
                </div>
                <div class="col-4">
                </div>
            </div>
        </div>
    </section>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
