@model IEnumerable<webProjeOdev8.Models.Doktor>

@{
    ViewData["Title"] = "DoktorListele";
}

<h1>DoktorListele</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.doktorAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.doktorSoyadi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dogumTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cinsiyet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.medeniHal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefonNumarasi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Iller)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.AnaBilimDali)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Klinik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hastane)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.doktorAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.doktorSoyadi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dogumTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cinsiyet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.medeniHal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefonNumarasi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Iller)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.AnaBilimDali.anaBilimDaliAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Klinik.klinikAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hastane.hastaneAdi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.doktorId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.doktorId">Details</a> |
                    <a asp-action="DoktorSil" asp-controller="Doktor" asp-route-id="@item.doktorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
