@model webProjeOdev8.Models.Doktor

@{
    ViewData["Title"] = "DoktorSil";
}

<h1>DoktorSil</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Doktor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.doktorAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.doktorAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.doktorSoyadi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.doktorSoyadi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dogumTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dogumTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cinsiyet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cinsiyet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.medeniHal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.medeniHal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telefonNumarasi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telefonNumarasi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Iller)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Iller)
        </dd>
      
       
  
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Poliklinik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Poliklinik.poliklinikAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnaBilimDali)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnaBilimDali.anaBilimDaliAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Klinik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Klinik.klinikAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hastane)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hastane.email)
        </dd>
    </dl>
    
    <form asp-action="DoktorSil">
        <input type="hidden" asp-for="doktorId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
