@model IEnumerable<webProjeOdev8.Models.Randevu>

@{
    ViewData["Title"] = "Listele";
}

<h1>Listele</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.randevuTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.randevuSaat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hastane)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnaBilimDali)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Klinik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Poliklinik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doktor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hasta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {

            var doktor = item.Doktor.doktorAdi + " " + item.Doktor.doktorSoyadi;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.randevuTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.randevuSaat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hastane.hastaneAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnaBilimDali.anaBilimDaliAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Klinik.klinikAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Poliklinik.poliklinikAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem =>doktor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hasta.hastaTC)
            </td>
            <td>
                    <a asp-action="RandevuSil" asp-route-id="@item.randevuId">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
