@model IEnumerable<webProjeOdev.Models.HastaneAnaBilim>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Hastane)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnaBilimDali)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Hastane.hastaneAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnaBilimDali.anaBilimDaliAdi)
            </td>
            <td>
                @Html.ActionLink("HastaneAnaBilimDuzenle", "HastaneAnaBilimDuzenle", new { id=item.hastaneId , id2 = item.anaBilimDaliId}) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
